body {
    // min-width: 800px;
    overflow: hidden;
}

pre {
    background-color: transparent;
    border: none;
}

// span {
//     display: block;
// }

// .blasted {
    span {
        display: inline-block;
        font-size: 20px;
    }
// }
//
